<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abc.pasckathon_dcoders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AcceptDeclineActivity"></activity>

        <service
            android:name=".java.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MedicalDetailsActivity" />
        <activity android:name=".SignUpActivity2" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity1" />
        <activity android:name=".TrackerActivity1" />
        <activity android:name=".SettingActivity1" />
        <activity android:name=".ProfileActivity1" />
        <activity android:name=".NotificationActivity1" />
        <activity android:name=".HistoryActivity1" />
        <activity android:name=".HelpActivity1" />
        <activity android:name=".Help2Activity1" />
        <activity android:name=".Help1Activity1" />
        <activity android:name=".ContactActivity1" />
        <activity android:name=".CalendarActivity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>